<div class="container">
  <h1><%= @product.product_name %></h1>
  <table>
    <th>
      <tr>
        <td>Name</td>
        <td>Description</td>
        <td>Image</td>
        <td>Links</td>
      </tr>
    </th>
    <tbody>
      <tr>
        <td><%= @product.product_name %></td>
        <td><%= @product.product_description %></td>
        <td><%= image_tag @product.image.url, :style => "width :100px;height :60px;" %></td>
        <td>
          <button type="button" class="btn btn-dark"><%= link_to 'Edit', edit_product_path(@product) %></button>
          <button type="button" class="btn btn-dark"><%= link_to 'Destroy', @product, method: :delete, data: { confirm: 'Are you sure?' } %></button>
          <button type="button" class="btn btn-dark"><%= link_to 'Back', products_path %></button>
          <button type="button" class="btn btn-dark"><%= link_to 'add new review', new_product_review_path(@product) %></button>
          <button type="button" class="btn btn-dark"><%= link_to 'Click to view reviews', product_reviews_path(@product) %></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

